<!DOCTYPE html>
<html>
<head>
    <title>Pagina di accesso</title>
    <script>
        function redirectToRegistration() {
            window.location.href = "http://localhost:8080/registrazione";
        }

        function redirectToLogin() {
            window.location.href = "http://localhost:8080/login";
        }
    </script>
</head>
<body>
<h1>Benvenuto00000000000000000000!</h1>

<button onclick="redirectToRegistration()">Registrazione</button>
<button onclick="redirectToLogin()">Login</button>
</body>
</html>
