.image-container {
  position: relative;
}

.marker-blue {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
}

.marker-red {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.fixed-size {
  width: 70%; /* Imposta la larghezza desiderata dell'immagine */
  height: auto; /* L'altezza si adatterà in base alla larghezza specificata mantenendo le proporzioni originali dell'immagine */
}

.container2 {
  display: flex; /* Utilizziamo flexbox */
}
