<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Registrazione</h3>
        </div>
        <div class="card-body">
          <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input
                [(ngModel)] = "citizen.nome" name="name"
                required
                #inputName = "ngModel"
                [ngClass]="{'is-invalid': inputName.errors && inputName.touched}"
                type="text" class="form-control" id="name" placeholder="Inserisci nome">
                <div class="invalid-feedback">
                  Inserisci un nome valido.
                </div>
            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Cognome</label>
              <input
                [(ngModel)] = "citizen.cognome" name="surname"
                required
                #inputSurname = "ngModel"
                [ngClass]="{'is-invalid': inputSurname.errors && inputSurname.touched}"
                type="text" class="form-control" id="surname" placeholder="Inserisci cognome">
                <div class="invalid-feedback">
                  Inserisci un cognome valido.
                </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                [(ngModel)] = "citizen.email" name="mail"
                required
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                #inputEmail = "ngModel"
                [ngClass]="{'is-invalid': inputEmail.errors && inputEmail.touched}"
                type="email" class="form-control" id="email" placeholder="Inserisci email">
                <div class="invalid-feedback">
                  Inserisci un'email valida.
                </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="citySelect" class="form-label">Comune</label>
                <select class="form-control" id="citySelect" required [(ngModel)] = "citizen.comune" name="citySelect">
                  <option *ngFor="let city of cities" [value]="city" > {{city}} </option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                [(ngModel)] = "citizen.password" name="password"
                required
                minlength="3"
                #inputPassword = "ngModel"
                [ngClass]="{'is-invalid': inputPassword.errors && inputPassword.touched}"
                type="password" class="form-control" id="password" placeholder="Inserisci password">
              <div class="invalid-feedback">
                Inserisci una password valida (minimo 3 caratteri).
              </div>
            </div>
            <div class="d-grid gap-2">
              <button
                [disabled] = "!signupForm.valid || btnDisabled"
                type="submit" class="btn btn-primary">Registrati</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
