<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email Cittadino</th>
        <th>Importo</th>
        <th>Stato</th>
        <th>Data Scadenza</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymentsArray">
        <td>{{ payment.emailCittadino }}</td>
        <td>{{ payment.importo }} €</td>
        <td>
          <ng-container *ngIf="payment.daPagare === 0; else daPagareBlock">
            pagato
          </ng-container>
          <ng-template #daPagareBlock>
            da pagare
          </ng-template>
        </td>
        <td>{{ payment.giornoScadenza }}/{{ payment.meseScadenza }}/{{ payment.annoScadenza }}</td>
      </tr>
    </tbody>
  </table>
</div>
